version: '3.8'

services:
  tg-redis:
    image: redis:alpine
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    restart: always
    networks:
      - default
      - coolify
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 3s
      retries: 5

  backend:
    build:
      context: ./backend
    volumes:
      - django_static:/app/staticfiles
      - django_media:/app/media
    env_file: .env
    depends_on:
      - tg-redis
    restart: always
    networks:
      - default
      - coolify

  celery:
    build:
      context: ./backend
    command: celery -A config worker --loglevel=info
    env_file: .env
    depends_on:
      - tg-redis
    restart: always
    networks:
      - default
      - coolify

  celery-beat:
    build:
      context: ./backend
    command: celery -A config beat --loglevel=info
    env_file: .env
    depends_on:
      - tg-redis
    restart: always
    networks:
      - default
      - coolify

  frontend:
    build:
      context: ./frontend
    restart: always
    networks:
      - default
      - coolify

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile.nginx
    ports:
      - "3005:80"
    volumes:
      - django_static:/app/staticfiles:ro
      - django_media:/app/media:ro
    depends_on:
      - backend
      - frontend
    restart: always
    networks:
      - default
      - coolify

volumes:
  redis_data:
  django_static:
  django_media:


networks:
  coolify:
    external: true
  default:
    driver: bridge
